/* Additional Styles to improve look & caching */
panel > block {
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
}
.small {
	font-size:90%;
}
.fieldset {
	clear:left
}
.fieldsetblk {
	clear:left
}
.header {
	margin: 10px 10px;
	padding: 4px 13px
}
.header > img {
	float:left;
	margin:0 0 10px 0
}
.header > div {
	margin:7px 0 0 12px; float:left
}
.header h1 {
	font-size: 22px
}
.header h2 {
	font-size: 17px
}
.cydia-only {
	display:none
}
body.pinstripe {
	padding:0;
	background:#fff url(background.png) repeat-y top center;
}
@media screen and (max-device-width: 480px) {
	body.pinstripe { background: #c7ced5 url(http://cache.saurik.com/menes/pinstripes.png); }
	panel { background:transparent }
	.cydia-only { display:block }
	.browser-only { display:none }
}

panel > fieldset > a:first-child {
    -moz-border-radius-topleft: 9px;
    -webkit-border-top-left-radius: 9px;
    -moz-border-radius-topright: 9px;
    -webkit-border-top-right-radius: 9px;
}

panel > fieldset > a:last-child {
    -moz-border-radius-bottomleft: 9px;
    -webkit-border-bottom-left-radius: 9px;
    -moz-border-radius-bottomright: 9px;
    -webkit-border-bottom-right-radius: 9px;
}

panel > fieldset > a[type="ad"]:last-child > div:first-child,
panel > fieldset > a[type="comment"]:last-child > div:first-child,
panel > fieldset > a[type="profile"]:last-child > div:first-child,
panel > fieldset > a[type="thumb"]:last-child > div:first-child {
    -moz-border-radius-bottomleft: 9px;
    -webkit-border-bottom-left-radius: 9px;
}

fieldset > a > img.icon,
fieldset > div > img.icon {
    height: auto;
    /* XXX: small differences due to font bugs */
    margin: -7px 6px -9px -8px;
    max-height: 29px;
    min-width: 29px;
    width: 29px;
}

fieldsetblk > a > img.icon,
fieldsetblk > div > img.icon {
    height: auto;
    /* XXX: small differences due to font bugs */
    margin: -7px 6px -9px -8px;
    max-height: 29px;
    min-width: 29px;
    width: 29px;
	background-color:black;
	font-size: inherit;
    color: #ffffff;
}

fieldset > div.switch {
	background: right center no-repeat url(switch-on.png);
}

fieldset > div.gray > label {
	font-weight: normal;
	opacity: 0.5;
}

fieldset > div.gray > speciallabel {
	font-weight: normal;
	opacity: 0.5;
	background-color:gray;
}
fieldset > div.slider {
	background: center center no-repeat url(slider.png);
	height: 43px;
}

panel > p {
    display: block;
    line-height: 24px;
    font-size: inherit;
    color: #4d4d70;
    text-shadow: rgba(255, 255, 255, 0.75) 1px 1px 0;
    text-align: center;
}

fieldset div textarea {
	-webkit-appearance: none;
	background: white;
	border:medium none;
	width:100%;
	padding:0;
	margin:0;
}

fieldset div textareawarn {
	-webkit-appearance: none;
	background: red;
	border:medium none;
	width:100%;
	padding:0;
	margin:0;
}

fieldset div readmearea {
	-webkit-appearance: none;
	background: red;
	border:medium none;
	width:100%;
	padding:0;
	margin:0;
}

panel > fieldset > div, panel > label {
	-webkit-user-select: none;
}

.selectable {
    -webkit-user-select: text;
}

.horizontal-scroll-wrapper {
	height:367px;
	background:#8f9192;
	border-top: 2px solid #7e8080;
	border-bottom: 2px solid #7e8080;
	outline-top: 1px solid rgba(255,255,255,0.33);
	outline-bottom: 1px solid rgba(255,255,255,0.33);
	overflow-x: scroll;
	width: 100%;
	position:relative;
	z-index:1;
}
.horizontal-scroll-area {
	z-index:1;
	margin:10px 0 5px 0;
}
.horizontal-scroll-area img {
	width: 215px;
	margin: 0 0 0 10px;
	border: 1px solid rgba(255,255,255,0.4);
	outline: 1px solid rgba(0,0,0,0.1);
}

.pip {
	opacity: 0.3;
	color:white;
	font-family: 'Courier New', Courier, fixed-width;
	font-size:150%;
}
.pip.selected {
	opacity: 1.0;
}

.horizontal-scroll-pips {
	text-align:center;
	margin:0;
	padding:0;
}